@import "../../../../../scss/";

.card {
  width: 90% !important;
  .post__header {
    display: flex;
    align-items: center;
    .header__userName {
      font-weight: bold;
    }
    .header__permission {
      font-size: 12px;
    }
  }
  .post__content {
    .post__content--text {
      padding-bottom: 10px;
    }
    .post__content--attachments {
      padding: 10px 0;
      .attachment {
        background-position: center;
        background-size: cover;
        height: 300px;
        max-height: 400px;
      }
    }
  }
  .post__react {
    margin-bottom: 10px;
    border-top: 1px solid black;
    // border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .btn:hover {
      background-color: $color-gray;
    }
  }
}
