@import "scss/index.scss";
.comment {
  display: flex;
  padding-top: 10px;
  .avatar {
    padding-top: 0px;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  &__content {
    background-color: $color-gray-light;
    border-radius: 10px;
    padding: 5px;
  }
  &__owner {
    font-weight: bold;
    cursor: pointer;
  }
  &__attachment {
    padding-top: 5px;
    img {
      border-radius: 10px;
      width: 100%;
    }
  }

  &__like,
  &__repply {
    font-weight: 500;
    color: $color-gray-bolder;
    cursor: pointer;
  }
  &__like {
    margin-right: 10px;
    &--active {
      color: $color-blue-facebook;
    }
  }
  &__time{
    font-weight: 500;
    color: $color-gray-bolder;
    cursor: pointer;
  }
  &__footer{
    display: flex;
  }
}
