.rightSidebar {
  flex-grow: 2;
  max-height: 100vh;
  .card {
    width: 100% !important;
  }
  .rightSidebar__title {
    font-weight: bold;
    padding-bottom: 10px;
  }
  .rightSidebar__content {
    // position: fixed;
  }
}
