@import "scss/index.scss";

.commentList {
  padding: 10px 0;
  &__seeAll {
    cursor: pointer;
    font-size: 15px;
    padding: 10px 0;
    &:hover {
      text-decoration: underline;
    }
  }
  &__postComment {
    display: flex;
    position: relative;
    .avatar {
      width: 40px;
      height: 40px;
    }
  }
  &__inputComment {
    width: 100%;
    background-color: $color-gray-light;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    height: 40px;
    &:focus-visible {
      border: none;
    }
  }
  &__iconAttach {
    position: absolute;
    // top: 50%;
    top: 5px;
    right: 15px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
    border: 0.5px solid transparent;
    &:hover {
      background-color: $color-gray;
      border: 0.5px solid $color-gray-bolder;
    }
  }
}
