@import "~scss/index.scss";

.header {
  width: 100%;
  border: 2px solid black;
  height: 70px;
  position: fixed;
  background-color: white;
  z-index: 9999;
  .header__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    padding-top: 10px;
    .logo {
      font-weight: bold;
      flex-grow: 3;
      cursor: pointer;
    }
    .searchInput {
      flex-grow: 2;
      text-align: center;
      .ant-btn {
        border-radius: 2px !important;
      }
    }
    .listTab {
      flex-grow: 3;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      i {
        font-size: 30px;
        margin-left: 20px;
        cursor: pointer;
      }
      .listTab__avatar {
        position: relative;
        .avatar {
          margin-left: 20px;
          cursor: pointer;
        }
        .box {
          display: none;
          left: -80px;
          position: absolute;
          width: 150px;
          max-width: 200px;
          padding: 5px;
          border: 1px solid black;
          background-color: white;
          border-radius: 10px;
          a {
            display: block;
            color: black;
            font-size: 15px;
            text-align: center;
            transition: all, 0.5s;
            &:hover {
              background-color: $color-gray;
            }
          }
        }
      }

      // img {
      //   width: 50px;
      //   height: 50px;
      //   border-radius: 50%;
      //   margin-left: 20px;
      //   cursor: pointer;
      // }
    }
  }
}
