:root {
  --color-wplogin-body: #fff;
  --color-wplogin-header-text: #fff;
  --color-header-background: #615dfa;
  --color-header-logo-background: #00c7d9;
  --color-header-text: #fff;
  --color-header-icon: #8b88ff;
  --color-header-icon-hover: #fff;
  --color-header-profile-settings-icon: #fff;
  --color-header-mobilemenu-trigger-icon: #fff;
  --color-header-divider: #7a77fd;
  --color-header-input-background: #4e4ac8;
  --color-header-input-placeholder: #8b88ff;
  --color-header-progressbar-line-gradient-start: #41efff;
  --color-header-progressbar-line-gradient-end: #41efff;
  --color-header-progressbar-underline: #4a46c8;
  --color-body: #f8f8fb;
  --color-box-background: #fff;
  --color-box-background-alt: #fcfcfd;
  --color-box-over-box-background: #fff;
  --color-box-over-box-light-background: #fff;
  --color-box-highlight-background: #f7f7fb;
  --color-box-hover-background: #f2f2f9;
  --color-box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06);
  --color-overbox-shadow: 3px 5px 20px 0 rgba(94, 92, 154, 0.12);
  --color-overbox-dark-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.12);
  --color-overbox-big-shadow: 3px 5px 40px 0 rgba(94, 92, 154, 0.1);
  --color-text: #3e3f5e;
  --color-text-alt: #8f91ac;
  --color-text-alt-2: #adafca;
  --color-icon: #adafca;
  --color-icon-highlighted: #3e3f5e;
  --color-border: #dedeea;
  --color-divider: #eaeaf5;
  --color-progressbar-line-gradient-start: #615dfa;
  --color-progressbar-line-gradient-end: #41efff;
  --color-progressbar-underline: #e7e8ee;
  --color-avatar-rank-hexagon: #45437f;
  --color-primary: #23d2e2;
  --color-primary-hover: #1bc5d4;
  --color-primary-light: #41efff;
  --color-primary-dark: #00c7d9;
  --color-primary-shadow: 4px 7px 12px 0 rgba(35, 210, 226, 0.2);
  --color-secondary: #615dfa;
  --color-secondary-hover: #5753e4;
  --color-secondary-dark: #45437f;
  --color-secondary-shadow: 4px 7px 12px 0 rgba(97, 93, 250, 0.2);
  --color-tertiary: #fd4350;
  --color-tertiary-hover: #dd343f;
  --color-tertiary-shadow: 4px 7px 12px 0 rgba(253, 67, 80, 0.2);
  --color-loading-screen-background: #3e3f5e;
  --color-loading-bar-1: #615dfa;
  --color-loading-bar-2: #5d71fb;
  --color-loading-bar-3: #5983fb;
  --color-loading-bar-4: #549afc;
  --color-loading-bar-5: #4eb2fd;
  --color-loading-bar-6: #49c9fe;
  --color-loading-bar-7: #45ddfe;
  --color-loading-bar-8: #41efff;
  --color-overlay: rgba(21, 21, 31, 0.96);
  --color-notice-overlay-background-primary: rgba(35, 210, 226, 0.14);
  --color-notice-overlay-background-secondary: rgba(97, 93, 250, 0.14);
  --color-notice-overlay-background-tertiary: rgba(253, 67, 80, 0.14);
  --color-avatar-overlay-background: rgba(97, 93, 250, 0.9);
  --footer-navigation-display-mobile: none;
}
